.game {
  .game-list-text {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin: 0.2em 1em;
      }
    }
  }
  .game-list-speed {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin: 0.2em 1em;
      }
    }
  }
}
