html {
  font: 1em sans-serif;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  & > .window-header {
    background-color: blueviolet;
    color: #eee;
  }
  & > .window-content {
    width: 100%;
    height: 100%;
    max-width: 50em;
    margin: auto;
  }
}
